<div>       
       <div>
          
          <h3>Register</h3>          
          
          <p><input id="idlastname" type="text" placeholder="Last Name:"></p>    
          <p><input id="idfirstname" type="text" placeholder="First Name:"></p>    
          <p><input id="idage" type="text" placeholder="Age:"></p>
          <p><input id="idemail" type="text" placeholder="Email:"></p>
          <p><input id="idrol" type="text" placeholder="Rol:"></p>
          <p><input id="idnameuser" type="text" placeholder="NameUser:"></p>
          <p><input id="idpassword" type="text" placeholder="Password:"></p>
          <p><button onclick="Agregar();">Ingresar</button></p>        
          <p><button onclick="Cancelar();">Cancelar</button></p>                    
          
        </div>          

         <div id="muestrotitle"></div>
         <div id="muestrodescription"></div>
         <div id="todo"></div> 

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.0/socket.io.js" integrity="sha512-rwu37NnL8piEGiFhe2c5j4GahN+gFsIn9k/0hkRY44iz0pc81tBNaUN56qF8X4fy+5pgAAgYi2C9FXdetne5sQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="js/registro.js"></script>
